/* Base styles */
.featured-events-homePage {
  padding: 2rem;
  background-color: #ddd0c8; /* Adjusted to match the background */
}

.featured-events-homePage h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 3rem;
  font-weight: normal;
  color: #323232;
}

.events-container-homePage {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.event-card-homePage {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Ensure content is stacked vertically */
  transition: transform 0.3s ease;
}

.event-card-homePage:hover {
  transform: translateY(-5px);
}

.event-card-homePage img {
  width: 100%;
  height: auto;
}

.event-details-homePage {
  padding: 1rem;
  flex: 1; /* Ensures that event details take up available vertical space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-details-homePage h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.event-details-homePage p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

/* Flexbox for event-footer to align price and button */
.event-footer-homePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.event-price-homePage{
  font-size: 1.2rem;
  font-weight:bold;
}

.buy-now-homePage {
  background-color: #323232;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now-homePage:hover {
  background-color: #555;
}

/* Media Queries for responsiveness */

/* For tablets and small screens */
@media (max-width: 1024px) {
  .event-card-homePage {
    width: 45%;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .event-card-homePage{
    width: 100%;
  }

  .events-container-homePage {
    flex-direction: column;
    align-items: center;
  }
}