.footer {
  padding: 2rem 1rem;
  background-color: #323232;
  color: #ddd0c8;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.footer h4 {
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 30px;
  font-weight: normal;

}

.footer p {
  margin-bottom: 0.5rem;
  font-size: 17px;
  padding-left:20px;
  font-weight: lighter;
}

.social-icons img {
  width: 30px;
  padding-left: 20px;
  margin-top: 15px;
}
