.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #ddd0c8; /* Match the background color from the image */
}

.hero-content {
  max-width: 60%;
}

.hero-content h1 {
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: #323232;
}

.hero-content h2 {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight:lighter;
    color: #323232;
  }

.hero-content h3 {
  font-size: 55px;
  margin-top: 0;
  font-weight: lighter;
  color: #323232;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
