/* Container for the entire signup page */
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd0c8; /* Outer background color */
}

/* Box that holds both image and form */
.signup-box {
  display: flex;
  width: 80%;
  height: 70vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  flex-direction: row;
}

/* Left side for the image */
.signup-image {
  flex: 1;
  background-color: #f7f7f7; /* Background color for the image side */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.signup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

/* Right side for the signup form */
.signup-form {
  flex: 1;
  background-color: #2d2d2d; /* Background color for the form side */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px; */
  color: white;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.form {
  width: 100%;
}

.input-container {
  margin-bottom: 15px;
  width: 100%;
}

.input-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  font-size: 1rem;
}

/* Button styling */
.signup-button {
  display: block;
  width: 100px;
  height: 40px;
  padding: 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px auto;
}

.signup-button:hover {
  background-color: #ccc;
}

/* Links for logging in */
.signup-links {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}

.signup-links a {
  color: #bbb;
  text-decoration: none;
}

.signup-links a:hover {
  color: #fff;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .signup-box {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .signup-image {
    height: 30vh; /* Adjust image height on smaller screens */
  }

  .signup-form {
    padding: 20px;
  }

  .signup-form h2 {
    font-size: 1.5rem;
  }

  .input-container input {
    font-size: 0.9rem;
  }

  .signup-button {
    font-size: 0.9rem;
  }
}
